openapi: 3.0.3
info:
  title: Botsociety Conversations Designs API
  version: '2.0'
  description: The Botsociety API lets your application retrieve the content of chatbot and voice-assistant designs (conversations, messages, variables, intents) created in the Botsociety design tool, so message content can be updated in the design tool without redeploying bot code. Reconstructed from the official `botsociety` npm client (v4.0.1). Authentication uses a user id plus a public API key, both obtained from the Botsociety app and passed as request headers.
  contact:
    name: Botsociety
    url: https://botsociety.io
    email: info@botsociety.io
  license:
    name: ISC
servers:
- url: https://app.botsociety.io
  description: Production API host (app.botsociety.io)
security:
- user_id: []
  api_key_public: []
tags:
- name: Designs
  description: Retrieve design/integration content (current API)
paths:
  /designs/{conversationId}/integrations:
    get:
      operationId: getConversation
      tags:
      - Designs
      summary: Retrieve design content and integrations
      description: Retrieve the content (messages, intents, integrations) of a Botsociety design by its id, so a running chatbot/voice assistant can fetch message content at runtime.
      parameters:
      - name: conversationId
        in: path
        required: true
        description: The Botsociety design (conversation) id.
        schema:
          type: string
      responses:
        '200':
          description: Design content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Design'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Message:
      type: object
      description: A message within a conversation.
      properties:
        id:
          type: string
        path:
          type: string
          description: The path/position of the message in the design flow.
    Design:
      type: object
      description: A Botsociety design and its content.
      properties:
        messages:
          type: array
          items:
            $ref: '#/components/schemas/Message'
        intentsInfo:
          type: object
          description: NLP training data (intents, parameters, user/bot messages, bot responses).
    Error:
      type: object
      description: Error response body.
      properties:
        info:
          type: string
          description: Human-readable error information.
  responses:
    Unauthorized:
      description: Missing or invalid credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    user_id:
      type: apiKey
      in: header
      name: user_id
      description: The Botsociety user id, obtained from the Botsociety app.
    api_key_public:
      type: apiKey
      in: header
      name: api_key_public
      description: The Botsociety public API key, obtained from the Botsociety app.
